<form class="vtm-custom sheet actor vampire" autocomplete="off">

  {{!-- Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
    <div class="header-fields">
      <h1 class="charname">
        <input name="name" type="text" value="{{actor.name}}" placeholder="Character Name" />
      </h1>
    </div>
    <div class="header-tags">
      {{#if system.clan}}<span class="header-tag tag-clan">{{system.clan}}</span>{{/if}}
      {{#if system.generation}}<span class="header-tag tag-gen">{{system.generation}}</span>{{/if}}
    </div>
  </header>

  {{!-- Frenzy Bar --}}
  {{#if system.frenzy}}
    <div class="frenzy-bar {{system.frenzy}}">
      <span class="fb-icon">{{frenzyInfo.icon}}</span>
      <div class="fb-text">
        <div class="fb-title">{{frenzyInfo.title}}</div>
        <div class="fb-sub">{{frenzyInfo.subtitle}}</div>
      </div>
      <button type="button" class="fb-end end-frenzy">End frenzy</button>
    </div>
  {{/if}}

  {{!-- Resource Bar --}}
  {{> "systems/vtm-custom/templates/actor/partials/_resource-bar.hbs"}}

  {{!-- Tabs --}}
  <nav class="sheet-tabs" data-group="primary">
    <a class="item" data-tab="attributes">{{localize "VTM.Attributes"}}</a>
    <a class="item" data-tab="skills">{{localize "VTM.Skills"}}</a>
    <a class="item" data-tab="disciplines">{{localize "VTM.Disciplines"}}</a>
    <a class="item" data-tab="traits">Traits</a>
    <a class="item" data-tab="contacts">Contacts</a>
    <a class="item" data-tab="inventory">Inventory</a>
    <a class="item" data-tab="xp">XP</a>
    <a class="item" data-tab="bio">Bio</a>
  </nav>

  {{!-- Tab Body --}}
  <section class="sheet-body">
    {{> "systems/vtm-custom/templates/actor/partials/_tab-attributes.hbs"}}
    {{> "systems/vtm-custom/templates/actor/partials/_tab-skills.hbs"}}
    {{> "systems/vtm-custom/templates/actor/partials/_tab-disciplines.hbs"}}
    {{> "systems/vtm-custom/templates/actor/partials/_tab-traits.hbs"}}
    {{> "systems/vtm-custom/templates/actor/partials/_tab-contacts.hbs"}}
    {{> "systems/vtm-custom/templates/actor/partials/_tab-inventory.hbs"}}
    {{> "systems/vtm-custom/templates/actor/partials/_tab-xp.hbs"}}
    {{> "systems/vtm-custom/templates/actor/partials/_tab-bio.hbs"}}
  </section>
</form>
